@model IEnumerable<WSG.CafeOtomation.Entities.Concrete.Order>
@using WSG.CafeOtomation.Business.Abstract;
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    td{
        align-self: flex-end;
    }
</style>
<h1>Satis Raporlari</h1>
<form asp-controller="Sale" asp-action="Index">
    <label for="startdate">Başlangıç Tarihi:</label>
    <input type="datetime-local" id="startdate" name="startdate" > &nbsp;
    <label for="enddate">Bitiş Tarihi:</label>
    <input type="datetime-local" id="enddate" name="enddate" > &nbsp;
    <input type="submit" value="Getir" class="btn btn-primary" />
</form>
<br />
<div>
    <table class="table">
        <tr>
            <th>Günlük Toplam Sipariş Tutarı</th>
            <td>@Model.Sum(x => x.TotalPrice)₺</td>
        </tr>
        <tr>
            <th>Toplam Açılan Masa</th>
            <td>@Model.Count() Adet</td>
        </tr>
        <tr>
            <th>Toplam Sipariş</th>
            <td>@ViewBag.OrderDetailCount Adet</td>
        </tr>
        @*@foreach (var item in (dynamic)ViewBag.Payments)
        {
            <tr>
                <th>@item.Key</th>
                <td>@item.Total₺</td>
            </tr>
        }*@
        <tr>
            <th>Nakit</th>
            <td>@ViewBag.Cash₺</td>
        </tr>
        <tr>
            <th>Banka Çekimleri</th>
            <td>@ViewBag.BankCredit₺</td>
        </tr>
        <tr>
            <th>Yemek Kartları</th>
            <td>@ViewBag.FoodCart₺</td>
        </tr>
        <tr>
            <th>Toplam Ödenen</th>
            <td>@Model.Where(x => x.OrderPayStatus == WSG.CafeOtomation.Entities.Concrete.OrderPayStatus.Paid).Sum(x => x.TotalPrice)₺</td>
        </tr>
    </table>
</div>
