@model IEnumerable<WSG.CafeOtomation.Entities.Concrete.ProductCategory>

@{
    ViewData["Title"] = "Urun Kategorisi";
}

<h1>Urun Kategorileri</h1>

<p>
    <a class="btn btn-info" asp-action="Create">+</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Düzenle</a> &nbsp;
                <a class="btn btn-light" asp-controller="Product" asp-action="Index" asp-route-id="@item.ID">Ürünler</a> &nbsp;
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
